{% assign customer = options.customer %}
<div class="col-sm-12 col-md-10 col-md-offset-1">
  {% if customer %}
    <div class="well">
      {% if customer.firstName != blank or customer.lastName != blank %}
        <h2 class="text-center">{{ customer.firstName }} {{ customer.lastName }}</h2>
      {% endif %}
      {% if customer.company %}
        <h4 class="text-center">{{ customer.company}}</h4>
      {% endif %}
      <h5 class="text-center">Customer Since: {{ customer.createdAt | date: '%b %d, %Y'}}</h5>
    </div>
  {% else %}
    <div class="alert alert-danger">
      There was a problem retreiving customer details. Please try again.
    </div>
  {% endif %}
  <div class="form-group float-right">
    <a href="goBack" type="button" class="btn btn-default">Go Back</a>
    {% if customer %}
      <a href="customers/edit/{{ customer.id }}" type="button" class="btn btn-primary">Edit</button>
    {% endif %}
  </div>
</div>