<div class="col-sm-12 col-md-10 col-md-offset-1">
  <h1 class="text-center">Customer Listing</h1>
  {% unless options.error %}
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
            <th>ID</th>
            <th colspan="2">Name/Company</th>
            <th>Customer Since</th>
            <th>Total Spent</th>
            <th>Amount Owing</th>
            <th>Details</th>
            <th>Invoices</th>
          </tr>
        {% if options.customer_list %}
          {% for customer in options.customer_list %}
            <tr>
              <td>{{ customer.id }}</td>
              <td colspan="2">
                {% if customer.firstName or customer.lastName %}
                  {{ customer.firstName }} {{ customer.lastName }}
                  {% if customer.company %} - {% endif %}
                {% endif %}
                {% if customer.company %}{{ customer.company }}{% endif %}
              </td>
              <td>{{ customer.createdAt | date: '%b %d, %Y'}}</td>
              <td>{{ customer.total_spent }}</td>
              <td>{{ customer.current_owing }}</td>
              <td><a href="customers/details/{{ customer.id }}">View Details</a></td>
              <td><a href="customers/invoices/{{ customer.id }}">View Invoices</a></td>
            </tr>
          {% endfor %}
          <td class="success text-center" colspan="8"><a href="customers/create">Create New Customer</a></td>
        {% else %}
          <tr>
            <td class="success text-center" colspan="8">No customers yet. <a href="customers/create">Create One</a></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger">
      There was a problem retreiving customers. Please try again.
    </div>
  {% endunless %}
</div>