{% comment %} Find if notifications are hidden {% endcomment %}
  {% if options.allow_hide == false %}
    {% assign allow_hide = false %}
  {% elsif options.allow_hide == true %}
    {% assign allow_hide = true %}
  {% else %}
    {% if settings.notifications.manually_dismiss == "true" %}
      {% assign allow_hide = false %}
    {% else %}
      {% assign allow_hide = true %}
    {% endif %}
  {% endif %}
{% comment %} Finished find if notifications are hidden {% endcomment %}

{% assign class = options.type %}
{% assign timeout = options.timeout %}

<div class="notification {% if class %}{{ class }}{% endif %} list-group-item" data-id="{{ options.id }}" 
  {% if allow_hide %}
    data-timeout="{{ timeout | default: settings.notifications.timeout }}"
  {% endif %}
>
  <div class="row-action-primary icon__left">
    <i class="material-icons">{{ options.icon | default: "info" }}</i>
  </div>
  <div class="row-content">
    <div class="least-content"><a href="#" class='notification-close'>x</a></div>
    <h4 class="list-group-item-heading">{{ options.title | default: "Notification Title" }}</h4>
    <p class="list-group-item-text">{{ options.message | default: "Notification message" }}</p>
  </div>
</div>