{% comment %} This is the first template loaded on app startup {% endcomment %}
{% assign current_hour = "now" | date: "%H" %}
{% capture greeting %}
  {% if current_hour > 18 %}
    Evening
  {% elsif current_hour > 12 %}
    Afternoon
  {% else %}
    Morning
  {% endif %}
{% endcapture %}


<div id="template__{{ template }}" class="col-xs-12 col-sm-10 col-sm-offset-1">
  {% if logged_in %}
    <h1 id="time" class="text-center">{{ "now" | date: '%l:%M %p' | strip }}</h1>
    <h3 class="text-center">{{ "now" | date: '%A, %B %d' }}</h3>
    <h3 class="text-center">Good {{ greeting | strip }}, {{ options.user.name | default: settings.users.default_user }}</h3>

    {% include 'time_changer' %}

  {% else %}
    <h3>Please <a href="login">Log In</a> To Continue</h3>
    <h3>Or change some <a href="settings">Settings</a> that you wouldn't normally have access to since you aren't logged in</h3>
  {% endif %}
</div>