<div class="setting">
  <h3>{{ setting.name | replace: "_", " " | capitalize }}</h3>
  {% for this in setting.settings %}
    {% case this.type %}
      {% when 'header' %}
        <h4 class="text-muted">{{ this.content }}</h4>
      {% when 'paragraph' %}
        <p class="text-muted">{{ this.content }}</p>
      {% when 'text' %}
        <div class="form-group label-floating col-xs-12 col-sm-6">
          <label for="{{setting.name}}-{{ this.id }}" class="control-label">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" class="form-control" type="text" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
          {% if this.info %}<span class="help-block">{{ this.info }}</span>{% endif %}
        </div>
      {% when 'color' %}
        <div class="form-group label-floating col-xs-12 col-sm-6">
          <label for="{{setting.name}}-{{ this.id }}" class="control-label">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" class="form-control" type="color" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
          {% if this.info %}<span class="help-block">{{ this.info }}</span>{% endif %}
        </div>
      {% when 'password' %}
        <div class="form-group label-floating col-xs-12 col-sm-6">
          <label for="{{setting.name}}-{{ this.id }}" class="control-label">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" class="form-control" type="password" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
          {% if this.info %}<span class="help-block">{{ this.info }}</span>{% endif %}
        </div>
      {% when 'number' %}
        <div class="form-group label-floating col-xs-12 col-sm-6">
          <label for="{{setting.name}}-{{ this.id }}" class="control-label">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" class="form-control" type="number" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
          {% if this.info %}<span class="help-block">{{ this.info }}</span>{% endif %}
        </div>
      {% when 'checkbox' %}
        <div class="form-group">
          <div class="checkbox">
            <label for="{{setting.name}}-{{ this.id }}">
              <input name="{{setting.name}}-{{ this.id }}" type="checkbox" {%- if current[this.id] -%}value="{{ current[this.id] }}" {% if current[this.id] == 'true' %} checked {% endif %}{%- elsif this.default -%}value="{{ this.default }}" {% if current[this.id] == 'true' %} checked {% endif %}{%- endif -%}/>
              {{ this.label }}
            </label>
            {% if this.info %}<p class="help-block">{{ this.info }}</p>{% endif %}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>
