<div class="setting">
  <h3>{{ setting.name | replace: "_", " " | capitalize }}</h3>
  {% for this in setting.settings %}
    {% case this.type %}
      {% when 'header' %}
        <h4>{{ this.content }}</h4>
      {% when 'paragraph' %}
        <p>{{ this.content }}</p>
      {% when 'text' %}
        <div class="settings__field">
          <label for="{{setting.name}}-{{ this.id }}">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" type="text" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
        </div>
      {% when 'color' %}
        <div class="settings__field">
          <label for="{{setting.name}}-{{ this.id }}">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" type="color" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
        </div>
      {% when 'password' %}
        <div class="settings__field">
          <label for="{{setting.name}}-{{ this.id }}">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" type="password" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
        </div>
      {% when 'number' %}
        <div class="settings__field">
          <label for="{{setting.name}}-{{ this.id }}">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" type="number" {%- if current[this.id] -%}value="{{ current[this.id] }}"{%- elsif this.default -%}value="{{ this.default }}"{%- endif -%}/>
        </div>
      {% when 'checkbox' %}
        <div class="settings__field">
          <label for="{{setting.name}}-{{ this.id }}">{{ this.label }}</label>
          <input name="{{setting.name}}-{{ this.id }}" type="checkbox" {%- if current[this.id] -%}value="{{ current[this.id] }}" {% if current[this.id] == 'true' %} checked {% endif %}{%- elsif this.default -%}value="{{ this.default }}" {% if current[this.id] == 'true' %} checked {% endif %}{%- endif -%}/>
        </div>
    {% endcase %}
  {% endfor %}
</div>